<mat-card>
  <mat-card-title>new user type</mat-card-title>
  <form [formGroup]="formUserType">
    <mat-form-field>
      <input matInput formControlName="description" placeholder="description" id="description" name="description" required>
    </mat-form-field>

    <label>active *</label>
    <mat-radio-group formControlName="active" required>
      <mat-radio-button style="padding-right: 10px;" value="true">true</mat-radio-button>
      <mat-radio-button value="false">false</mat-radio-button>
    </mat-radio-group>
  </form>

  <button mat-raised-button (click)="onSubmit()" color="primary">save</button>
  <button mat-raised-button (click)="cancel()">cancel</button>
</mat-card>

